# ------------------------------------------------------------------------- #
#     Luke's Universal Git Attributes                                       #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #
#  Version  : 1.3.2                                                         #
#  Author   : Luke Chavers                                                  #
#  Created  : Monday, Jan 26th, 2015                                        #
#  Updated  : Thursday, Aug 31st, 2017                                      #
# - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - #

* text=auto
*.sh text eol=lf
*.js text eol=lf
*.css text eol=lf
*.map text eol=lf
*.conf text eol=lf
